::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body{

    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    color: #888;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
}

.container-fluid.with-sidebar {
    padding-left: 300px;
    min-width: 660px;
    max-width: 1250px;
    
}

 .container-fluid.with-sidebar {
    width: 500px;
    margin-left: -250px;
    
}

.container-fluid.with-sidebar .layout-column  {
    float: left;
    position: relative;
}
