<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='simple-sidebar.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div id="wrapper">

         <!-- Sidebar -->
        <div id="sidebar-wrapper">
           
          <form  class = "sidebar-nav" method="post" action="{{ url_for('home_post') }}" >
           <br>
           &nbsp&nbsp&nbsp<label id="headline">Report Builder</label><br><br>
            
            <div id="rectangle" >Report Content</div>
            
            <div>
               <label id="step2">Step 1.</label>
               <label id="domain">Choose customer you are creating a report for </label>
               <label id="domain">Customer ID: </label>
               <input type="text"   id="in_customer" placeholder='e.g. 123456'>
               <button type="submit" class="btn btn-primary">Save</button>
            </div> 
            
             <div>
                <label id="step2">Step 2.</label>
                <label id="domain">Enter domain name, ASN , IP address, or email address</label>
                <input type="text" id="in_domain"  name="domain" value={{domain}}>
                <button type="submit" class="btn btn-default">Search</button>
             </div>
           
              
             <div id ="choose_dataset">
                <div>
                    <label id="step3">Step 3.</label>
                    <label id="dataset">Choose data sets to include in the report. The most common ones have been selected
                        for you by default. More options are available for each data set once added</label>
                        <br>&nbsp&nbsp
                </div>
            </div>  
            
            
             
             <div id="popover_id" class="popover-container filter-popover-container right"  style="margin-top : 0px; left : 11px;">
               <div class="popover-content">
                   <div class="row-fluid">
                    
                     <div id ="choose_dataset">
                       <div>
                         <input type="checkbox" name="investigate" value="investigate">  Investigate</input>&nbsp&nbsp&nbsp&nbsp
                         <input type="checkbox" name="virustotal" value="virustotal">    Virustotal</input><br>
                              <input type="checkbox" name="shodan" value="shodan">    Shodan</input>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         <input type="checkbox" name="blogsearch" value="blogsearch">    Blog Search</input><br>
                              <input type="checkbox" name="in_alien" value="in_alien">  Alien Vault</input>
                       </div>
                     </div>  
                   
                   </div>
               </div>
             </div>
             
         </form>  
         <button id="btn_caret" class="btn btn-small" onclick="buttonClick()"> <span class= "plus">+</span>&nbsp&nbsp  Add data sets
                     <span id="caret_icon" class ="caret "></span>
             </button>
        </div>
        
        <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container">
            <h2>BLOG SEARCH</h2> 
             {% for item in blogsearch_obj %}
               <a href={{item}} target="_blank" ><p > {{item}} </a></p>
            {% endfor %}
           </div>
        </div>

</div>
  


