<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>




</body>
</html>




<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='simple-sidebar.css') }}">
  </head>
  <body>
     <div  id="wrapper">
        
      <div id ="sidebar_wrapper">
     
          <form  class = "sidebar-nav" method="post" action="{{ url_for('home_post') }}" >
          
             <label for="domain">Enter Domain:</label>
             <input type="text"   name="domain">
             <button type="submit">Go</button>
        
              <br></br>
          
              <input type="checkbox" name="investigate" value="investigate">  Investigate</input>&nbsp&nbsp&nbsp&nbsp&nbsp
             <input type="checkbox" name="virustotal" value="virustotal">    Virustotal</input><br>
             <input type="checkbox" name="shodan" value="shodan">    Shodan</input>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
             <input type="checkbox" name="blog" value="blog">    Blog Search</input>
         </form>
         
      </div>
      
     </div>
     
  </body>
</html>


 
 
   
                   